<div
  [appCardColor]="card.snippet.publishedAt"
  class="relative flex flex-col text-gray-700 h-full bg-white shadow-md w-96 rounded-xl bg-clip-border border-b-4 box-border"
>
  <div
    class="relative h-56 mx-4 -mt-6 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40"
  >
    <img
      [src]="card.snippet.thumbnails.standard.url"
      alt="img-blur-shadow"
      class="hover:scale-105 ease-in mt-[-20px]"
    />
  </div>
  <div class="p-6 pt-3">
    <div class="activity flex justify-around items-center mb-2">
      <div class="activity__item flex justify-center mr-2">
        <img src="assets/view.svg" alt="view" class="w-4 h-4 mr-1" />
        <div class="activity__info">{{ card.statistics.viewCount }}</div>
      </div>
      <div class="activity__item flex justify-center mr-2">
        <img src="assets/liked.svg" alt="like" class="w-4 h-4 mr-1" />
        <div class="activity__info">{{ card.statistics.likeCount }}</div>
      </div>
      <div class="activity__item flex justify-center mr-2">
        <img src=" assets/dislike.svg" alt="dislike" class="w-4 h-4 mr-1" />
        <div class="activity__info">{{ card.statistics.favoriteCount }}</div>
      </div>
      <div class="activity__item flex justify-center mr-2">
        <img src="assets/comment.svg" alt="comment" class="w-4 h-4 mr-1" />
        <div class="activity__info">{{ card.statistics.commentCount }}</div>
      </div>
    </div>
    <div
      class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
    >
      {{ card.snippet.title }}
    </div>
  </div>
  <div class="p-6 pt-0 mt-auto flex justify-between items-center">
    <a [routerLink]="['/youtube/details', card.id]"
      ><app-button>More</app-button></a
    >
    <ng-container *ngIf="isFavorite; else noFavorite"
      ><button title="Remove from favorite" (click)="removeFavorite()">
        <img
          src="assets/heart-fill.svg"
          class="w-6 h-6"
          alt="heart-nofill"
        /></button
    ></ng-container>
    <ng-template #noFavorite>
      <button title="Add to favorite" (click)="addFavorite()">
        <img src="assets/heart-nofill.svg" class="w-6 h-6" alt="heart-fill" />
      </button>
    </ng-template>
  </div>
</div>
