<header class="header mb-2">
  <div class="header__content flex justify-between items-center">
    <div class="header__logo">
      <a routerLink="youtube" class="w-20 h-24 mr-4 flex items-center relative">
        <img
          src="assets/youtube-svgrepo-com.svg"
          alt="youtube"
          class="w-20 h-24"
        />
      </a>
    </div>
    <ng-container *ngIf="logIn">
      <app-search-bar (sortBlock)="turnSortBlock($event)"></app-search-bar>
    </ng-container>
    <div class="header__profile flex justify-center items-center">
      <div class="flex justify-center items-center mr-4">
        <ng-container *ngIf="logIn">
          <div class="flex justify-center items-center">
            <div class="mr-1">Your name</div>
            <button
              class="h-10 rounded-md w-10 text-white text-md text-center ml-2 hover:shadow-lg hover:shadow-red-500/40"
            >
              <img src="assets/Profile.svg" alt="profile" class="w-10 h-10" />
            </button>
          </div>

          <a routerLink="youtube/admin" class="ml-4">
            <app-button>Admin</app-button>
          </a>
          <a routerLink="favorite" class="ml-2">
            <app-button
              ><span class="flex"
                >Fav
                <img
                  src="assets/fav.svg"
                  alt="like"
                  class="w-4 h-4 ml-1 pt-1" /></span
            ></app-button>
          </a>
        </ng-container>
      </div>
      <a routerLink="login" class="ml-4" (click)="logout()"
        ><app-button>{{ logIn ? "Logout" : "Login" }}</app-button>
      </a>
    </div>
  </div>
</header>
