<section class="sort">
  <div class="sort__content flex justify-start items-center">
    <div class="sort__title mr-4 text-neutral-400">Sort by:</div>
    <div class="sort__criterias mr-4 flex justify-center">
      <button
        class="sort__date mr-4 hover:text-red-400 focus:text-red-400 border-b-[1px] border-red-400"
      >
        date
      </button>
      <button
        class="sort__views hover:text-red-400 focus:text-red-400 border-b-[1px] border-red-400"
      >
        count of views
      </button>
    </div>
    <div class="sort__filter">
      <label
        for="filter"
        class="mr-2 hover:text-red-400 focus:text-red-400 border-b-[1px] border-red-400"
        >by world or sentence</label
      >
      <input
        type="text"
        class="shadow-lg rounded h-8 w-36 p-4"
        placeholder="world"
        id="filter"
      />
    </div>
  </div>
</section>
