<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="w-[430px] px-6 py-8 flex flex-col justify-center m-auto bg-gray-100 rounded-xl"
>
  <div class="form__title mb-7 text-2xl font-bold">Login</div>
  <div>
    <label for="login" class="text-gray-500 text-sm">login</label>
    <input
      type="text"
      id="login"
      formControlName="login"
      class="bg-gray-200 w-[382px] min-h-[44px] p-2 outline-none"
      required
    />
    <div *ngIf="login?.errors?.['required']" class="invalid__message">
      Please enter a login email.
    </div>
    <div *ngIf="login?.errors?.['email']" class="invalid__message">
      The login email is invalid.
    </div>
  </div>
  <div>
    <label for="password" class="text-gray-500 text-sm">password</label>
    <input
      type="text"
      id="password"
      formControlName="password"
      class="bg-gray-200 w-[382px] min-h-[44px] p-2 outline-none"
      required
    />
    <div *ngIf="password?.errors?.['required']" class="invalid__message">
      Please enter a password.
    </div>
    <div
      *ngIf="password?.errors?.['forbiddenPassword']"
      class="invalid__message"
    >
      {{password?.errors?.['forbiddenPassword'].value}}
    </div>
  </div>

  <button
    type="submit"
    class="select-none mt-4 rounded-lg ml-auto bg-red-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40"
  >
    Login
  </button>
</form>
