<div class="message flex flex-row mb-2 self-start">
  <img src="assets/profile-conv.svg" alt="profile" class="w-8 h-8 mr-1" />
  <div class="message__des flex-row justify-start w-full">
    <div class="flex w-full">
      <div class="message__name text-black">{{ messageData.createdAt }}</div>
    </div>
    <div class="message__text">{{ messageData.message }}</div>
  </div>
</div>
<!-- <div class="message flex flex-row mb-2 self-end">
  <div class="message__des flex-row justify-end w-full">
    <div class="flex w-full">
      <div class="message__name text-black">commentData.userName</div>
    </div>
    <div class="message__text">commentData.comment</div>
  </div>
  <img src="assets/profile-conv.svg" alt="profile" class="w-8 h-8 ml-1" />
</div> -->
