.ng-invalid:not(form) {
  border-left: 2px solid #ef4444;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid #42a948;
}

.invalid__message {
  left: 0px;
  bottom: -0.25rem;
  color: rgb(239 68 68);
}
