<section
  class="form relative flex flex-1 flex-col justify-center px-6 py-12 lg:px-4 text-base_green"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-base_green"
    >
      Register
    </h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form__item mb-3">
        <label htmlFor="name" class="block text-sm font-medium text-gray-900">
          <p class="block text-sm text-gray-900 dark:text-base_white">Name:</p>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="text-md block w-full rounded-md border-0 bg-base_white p-2 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
            required
          />
        </label>
        <div *ngIf="name?.errors?.['required']" class="invalid__message">
          Please enter a username.
        </div>
        <div *ngIf="name?.errors?.['maxlength']" class="invalid__message">
          Username should contains less then 40 symbols.
        </div>
        <div
          *ngIf="name?.errors?.['forbiddenUsername']"
          class="invalid__message"
        >
          {{name?.errors?.['forbiddenUsername'].value}}
        </div>
      </div>
      <div class="form__item mb-3">
        <label htmlFor="email" class="block text-sm font-medium text-gray-900">
          <p class="block text-sm text-gray-900 dark:text-base_white">Email:</p>
          <input
            id="email"
            formControlName="email"
            required
            type="email"
            class="text-md block w-full rounded-md border-0 bg-base_white p-2 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
          />
        </label>
        <div *ngIf="email?.errors?.['required']" class="invalid__message">
          Please enter a email.
        </div>
        <div *ngIf="email?.errors?.['email']" class="invalid__message">
          The email is invalid.
        </div>
      </div>
      <div class="form__item mb-5">
        <label
          htmlFor="password"
          class="block text-sm font-medium text-gray-900"
        >
          <p class="block text-sm text-gray-900 dark:text-base_white">
            Password:
          </p>
          <input
            id="password"
            formControlName="password"
            type="password"
            required
            autoComplete="on"
            class="text-md block w-full rounded-md border-0 bg-base_white p-2 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
          />
        </label>
        <div *ngIf="password?.errors?.['required']" class="invalid__message">
          Please enter a password.
        </div>
        <div
          *ngIf="password?.errors?.['forbiddenPassword']"
          class="invalid__message"
        >
          {{password?.errors?.['forbiddenPassword'].value}}
        </div>
      </div>
      <div class="mt-8">
        <div class="text-sm flex flex-start text-black">
          <div>Already have an account?</div>
          <a routerLink="../login">
            <button type="button" class="underline ml-1">Log in</button>
          </a>
        </div>
        <button
          *ngIf="!isLoading; else loadingBut"
          type="submit"
          class="mt-2 flex w-full justify-center rounded-md bg-base_blue p-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm transition delay-75 ease-in-out"
          [ngClass]="
            registerForm.status === 'VALID'
              ? 'opacity-100 hover:cursor-pointer active:scale-[95%]'
              : 'opacity-50 hover:cursor-auto active:scale-100'
          "
        >
          Sign up
        </button>
        <ng-template #loadingBut
          ><button
            type="submit"
            class="opacity-50 mt-2 flex w-full justify-center rounded-md bg-base_blue p-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm transition delay-75 ease-in-out"
          >
            Sign up
          </button></ng-template
        >
      </div>
    </form>
  </div>
</section>
