<section
  class="form relative flex flex-1 flex-col justify-center px-6 py-12 lg:px-4 text-base_green"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-base_green"
    >
      Register
    </h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form>
      <div class="form__item mb-3">
        <label htmlFor="name" class="block text-sm font-medium text-gray-900">
          <p class="block text-sm text-gray-900 dark:text-base_white">Name:</p>
          <input
            id="name"
            name="name"
            type="text"
            class="text-md block w-full rounded-md border-0 bg-base_white p-2 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
          />
        </label>
      </div>
      <div class="form__item mb-3">
        <label htmlFor="email" class="block text-sm font-medium text-gray-900">
          <p class="block text-sm text-gray-900 dark:text-base_white">Email:</p>
          <input
            id="email"
            name="email"
            type="email"
            class="text-md block w-full rounded-md border-0 bg-base_white p-2 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
          />
        </label>
      </div>
      <div class="form__item mb-5">
        <label
          htmlFor="password"
          class="block text-sm font-medium text-gray-900"
        >
          <p class="block text-sm text-gray-900 dark:text-base_white">
            Password:
          </p>
          <input
            id="password"
            name="password"
            type="password"
            autoComplete="off"
            class="text-md block w-full rounded-md border-0 bg-base_white p-2 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
          />
        </label>
      </div>
      <div class="mt-8">
        <div class="text-sm flex flex-start text-black">
          <div>Already have an account?</div>
          <a routerLink="/login">
            <button type="button" class="underline ml-1">Log in</button>
          </a>
        </div>

        <button
          type="submit"
          class="mt-2 flex w-full justify-center rounded-md bg-base_blue p-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm transition delay-75 ease-in-out hover:cursor-pointer hover:shadow-yellow-300/60 active:scale-[95%]"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</section>
