<div class="connections flex justify-between">
  <div class="connections__item basis-1/2">
    <div class="connections_title flex justify-start items-center mb-4">
      <div class="connections__name text-3xl mr-2">Groups</div>
      <button class="connections__update mr-2">
        <img src="assets/update.svg" alt="update" class="w-6 h-6" />
      </button>
      <div class="connections__timer">00:59</div>
    </div>
    <div class="groups__container">
      <app-group></app-group>
    </div>
  </div>
  <div class="w-[1px] bg-gray-200 mx-3 mt-10"></div>
  <div class="connections__item basis-1/2">
    <div class="connections_title flex justify-start items-center mb-4">
      <div class="connections__name text-3xl mr-2">Peoples</div>
      <button class="connections__update mr-2">
        <img src="assets/update.svg" alt="update" class="w-6 h-6" />
      </button>
      <div class="connections__timer">00:59</div>
    </div>
    <div class="groups__container">
      <app-people></app-people>
    </div>
  </div>
</div>
