<div [ngClass]="(isLoading$ | async) ? 'opacity-50' : 'opacity-100'">
  <div class="people_title flex justify-start items-center mb-4 h-[40px]">
    <div class="people__name text-3xl mr-2">Peoples</div>
    <button
      class="people__update mr-2 hover:cursor-pointer"
      (click)="updatePeople()"
    >
      <app-refresh-but [active]="isActive"></app-refresh-but>
    </button>
    <div class="people__timer">00:{{ timer < 10 ? "0" : "" }}{{ timer }}</div>
  </div>
  <div class="people__container max-h-[82vh] overflow-y-scroll">
    <app-person
      *ngFor="let personData of peopleData$ | async"
      [personData]="personData"
    ></app-person>
  </div>
</div>
