<section
  class="form flex flex-col justify-center px-6 py-12 lg:px-4 bg-white rounded-lg w-[500px] mt-[-50%]"
>
  <h2
    class="text-center text-2xl font-bold leading-9 tracking-tight text-base_green"
  >
    Create group
  </h2>
  <div class="mt-10">
    <div>
      <div class="form__item mb-4 relative">
        <label for="name">Group name:</label>
        <input
          [formControl]="name"
          id="name"
          type="text"
          class="text-md mt-1 block w-full rounded-md border-0 bg-base_white p-1 text-gray-900 shadow-sm ring-1 ring-inset outline-none ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-base_blue"
        />
        <div class="mr-auto">
          <div *ngIf="name.errors?.['required']" class="invalid__message w-fit">
            please enter a username
          </div>
          <div
            *ngIf="name.errors?.['maxlength']"
            class="invalid__message w-fit"
          >
            username should contains less then 30 symbols
          </div>
          <div
            *ngIf="name.errors?.['forbiddenUsername']"
            class="invalid__message w-fit"
          >
            {{name.errors?.['forbiddenUsername'].value}}
          </div>
        </div>
      </div>
      <div class="mt-8 flex justify-between">
        <button
          type="submit"
          (click)="createGroup()"
          class="mt-2 w-full basis-2/5 rounded-md bg-base_blue p-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm transition delay-75 ease-in-out"
          [ngClass]="
            name.status === 'VALID'
              ? 'opacity-100 hover:cursor-pointer active:scale-[95%]'
              : 'opacity-50 hover:cursor-auto active:scale-100'
          "
        >
          Create
        </button>
        <button
          type="submit"
          (click)="closeModal()"
          class="mt-2 w-full basis-2/5 rounded-md bg-base_blue p-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm transition delay-75 ease-in-out hover:cursor-pointer active:scale-[95%]"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</section>
