<div [ngClass]="(isLoading$ | async) ? 'opacity-50' : 'opacity-100'">
  <div class="connections_title flex justify-between items-center mb-4">
    <div class="flex justify-start items-center">
      <div class="connections__name text-3xl mr-2">Groups</div>
      <button
        class="connections__update mr-2 hover:cursor-pointer"
        (click)="updateGroups()"
      >
        <app-refresh-but [active]="isActive"></app-refresh-but>
      </button>
      <div class="connections__timer">
        00:{{ timer < 10 ? "0" : "" }}{{ timer }}
      </div>
    </div>
    <button (click)="createGroup()">
      <app-button>Create</app-button>
    </button>
  </div>
  <div class="groups__container">
    <app-group
      *ngFor="let groupData of groupsData$ | async"
      [groupData]="groupData"
    ></app-group>
  </div>
</div>
<div *ngIf="isCreateGroupModal$ | async">
  <app-modal><app-group-form></app-group-form></app-modal>
</div>
<div *ngIf="removeGroupData$ | async as removeGroupData">
  <app-modal
    ><app-group-remove [groupID]="removeGroupData.groupID"></app-group-remove
  ></app-modal>
</div>
