<div
  [appCardColor]="customCard.date!"
  class="relative flex flex-col text-gray-700 h-full bg-white shadow-md w-96 rounded-xl bg-clip-border border-b-4 box-border"
>
  <div
    class="relative h-56 mx-4 -mt-6 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40"
  >
    <img
      src="assets/custom-card.svg"
      alt="img-blur-shadow"
      class="hover:scale-105 ease-in mt-[-20px] h-[224px] m-auto"
    />
  </div>
  <div class="p-6 pt-3">
    <div
      class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
    >
      {{ customCard.title }}
    </div>
    <div class="description overflow-hidden">
      <div class="desc-item mb-1">
        <span class="inline item__title font-medium text-base">Date:</span>
        {{ customCard.date }}
      </div>
      <div class="desc-item mb-1">
        <span class="inline item__title font-medium text-base"
          >Video link:</span
        >
        {{ customCard.linkVideo }}
      </div>
      <div class="desc-item mb-1">
        <span class="inline item__title font-medium text-base"
          >Image link:</span
        >
        {{ customCard.img }}
      </div>
      <div class="desc-item mb-1">
        <span class="inline item__title font-medium text-base"
          >Description:</span
        >
        {{ customCard.description }}
      </div>
      <div class="desc-item flex justify-start items-center flex-wrap">
        <div class="item__title font-medium text-base">Tags:</div>
        <div
          *ngFor="let tag of customCard.tags"
          class="tag shadow-md rounded-md py-1 px-2 ml-1 w-fit"
        >
          {{ tag }}
        </div>
      </div>
    </div>
  </div>
  <button
    (click)="removeCustomCard(customCard.id)"
    class="p-6 pt-0 mt-auto flex justify-between items-center"
  >
    <app-button>Remove</app-button>
  </button>
</div>
